# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# libwebgpu specific
/CMakeUserPresets.json
/build
/external
/conandata.yml
/conan_provider.cmake
/resources/models/AntiqueCamera/AntiqueCamera.bin
/resources/models/AntiqueCamera/AntiqueCamera.gltf
/resources/models/Buggy.glb
/resources/models/DamagedHelmet.glb
/resources/models/sphere.glb