{
  "actionBindings": [
    {
      "action": "jump",
      "controllerType": "keyboard",
      "keyName": "E"
    },
    {
      "action": "flashlight",
      "controllerType": "keyboard",
      "keyName": "F"
    }
  ],
  "axisBindings": [
    {
      "axis": "up / down",
      "controllerType": "mouse",
      "axisName": "up_down",
      "intensity": -1.0
    },
    {
      "axis": "left / right",
      "controllerType": "mouse",
      "axisName": "left / right"
    },
    {
      "axis": "up / down",
      "controllerType": "keyboard",
      "keyNames": [ "Up", "Down" ]
    },
    {
      "axis": "left / right",
      "controllerType": "keyboard",
      "keyNames": [ "Left", "Right" ]
    }
  ]
}