{
  "name": "default",
  "players": [
    {
      "playerId": 0,
      "contexts": [
        {
          "name": "default",
          "devices": [
            {
              "type": "keyboard",
              "id": 0,
              "actionBindings": [
                {
                  "action": "jump",
                  "key": "E"
                },
                {
                  "action": "flashlight",
                  "key": "F"
                }
              ],
              "axisBindings": [
                {
                  "axis": "forward_backward",
                  "keys": [
                    "w",
                    "s"
                  ]
                },
                {
                  "axis": "up_down",
                  "keys": [
                    "Up",
                    "Down"
                  ]
                },
                {
                  "axis": "left_right",
                  "keys": [
                    "Left",
                    "Right"
                  ]
                }
              ]
            },
            {
              "type": "mouse",
              "id": 0,
              "actionBindings": [
                {
                  "action": "fire",
                  "button": 1
                }
              ],
              "axisBindings": [
                {
                  "axis": "up_down",
                  "direction": "Y",
                  "intensity": -1.0
                },
                {
                  "axis": "left_right",
                  "direction": "X"
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}